<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatable" content="IE=edge">
    <meta name="viewreport" content="width=device-width, initial-sc">
    <title>Sample Html page</title>
</head>
<body>
    <center>
        <h1>This is Our First Html page in Django project</h1>
        <h1>Tis is rendered by using render function</h1>
        <h1>rendering is a process of interacting with template folder and extracting specified Html page to Function</h1>
    </center>
    </center>
</body>
</html>